<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Welcome to SIPUS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
</head>
<body class="blue-theme">
    <h2>Selamat Datang di SIPUS</h2>
    <div class="menu">
        <a href="/inputBuku" class="menu-button">Input Data Buku</a>
        <a href="/tampilBuku" class="menu-button">Tampil Data Buku</a>
        <a href="/updateBuku" class="menu-button">Update Data Buku</a>
        <a href="/deleteBuku" class="menu-button">Delete Data Buku</a>
        <a href="/inputPinjam" class="menu-button">Pinjam Buku</a>
        <a href="/tampilPinjam" class="menu-button">Tampil Data Pinjaman Buku</a>
        <a href="/updatePinjam" class="menu-button">Update Data Pinjaman Buku</a>
    </div>
</body>
</html>